.lupa {
    height: 30px;
    width: 30px;
}

.input-container {
    border-radius: 30px;
    align-items: center;
    background-color: #666;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    height: auto;
    padding: 8px 10px;
    width: 25%;
    justify-content: start;
}

.search {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    width: 50%;
}

header {
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

body{
    color: white;
    background-color: rgb(23, 24, 27);
}

.info{
    border-radius: 20px;
    padding-left: 30px;
    display: flex;
    gap: 30px;
}
.imagem{
    border-radius: 20px;
    width: 1000px;
}

section {
    display: flex;
    padding-left: 50px;
}

.nome {
    padding-left: 30px;
}

h4 {
    color: #727272;
}

h2{
    margin-left: 100px;
}

